@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


.azeret-mono {
    font-family: "Azeret Mono", monospace;
}

/* shared */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.websizing {
    width: 79%;
    max-width: 1140px;
    margin: 0 auto;
}

.nav-btn {
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
    padding: 13px 18px;

}

/* shared */

/* nav start */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: #0D1321;
    margin: 39px 0;
}

.nav-title {
    font-size: 1.4rem;
    font-weight: 800;
    color: #0D1321;
}

/* nav end */

/* hero start */
.hero {
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 26px;
}

.hero-container {
    max-width: 788px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-container * {
    margin-top: 25px;
}

.hero-title {
    font-size: 2.3rem;
    font-weight: 800;
}

.hero-description {
    font-size: 0.8rem;
    font-weight: 400;
}

.hero-btn {
    font-size: 1rem;
    font-weight: 600;
    background-color: black;
    color: white;
    border: none;
}

/* hero end */

/* development start */
.development {
    background-color: rgba(13, 19, 33, 0.02);
}

.development-container {
    margin: 58px 0;
    padding: 63px 76px;
}

.development-title {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.development-description {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    padding-top: 18px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 12px;
}

.card-description {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 12px;
}

.card-btn {
    border-radius: 0;
    font-size: 0.9rem;
    font-weight: 600;
}

.development-card {
    display: flex;
    gap: 77px;
    align-items: center;
    background-color: white;
    border-radius: 9px;
    padding: 37px;
    margin: 25px 0;
}

.order-one {
    order: 2;
}

.order-two {
    order: 1;
}

/* development end */

/* inspiration start */
.inspiration-description {
    max-width: 673px;
    margin: 0 auto;
}

.inspiration-container {
    margin-bottom: 119px;
}

.inspairation-video {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(128, 128, 128, 0.607);
    padding: 25px;
    border-radius: 15px;
    margin-top: 37px;
}

.inspairation-video-row {
    border-radius: 12px;
}

/* inspiration end */

/* target start */
.target-container {
    margin-bottom: 38px;
}

.target-card-title {
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 18px;
}

.target-card-description {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 10px 0;
}

.target-card-learn-more {
    font-size: 0.8rem;
    font-weight: 800;

}

.target-card {
    max-width: 320px;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 31px;
    border-radius: 12px;
}

.css {
    background-color: rgba(0, 76, 232, 0.05);
}

.javascript {
    background-color: rgba(255, 223, 0, 0.05);
}

.target-card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    gap: 18px;
}

/* target end */


/* next target start */
.next-target-card{
    display: flex;
    align-items: center;
    gap: 18px;
    border: 1px solid gray;
    padding: 31px;
    border-radius: 12px;
    margin-top: 18px;
}
.next-target-title{
    margin-top: 0;
}
.next-target-container{
    margin-bottom: 38px;
}
/* next target end */

/* support start */
.support-container{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 37px;
    border-radius: 12px;
}
form{
    max-width: 540px;
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    gap: 12px;
    justify-content: center;
}
form input{
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 0.8rem;
    color: rgba(13, 19, 33, 0.4);
    flex-grow: 1;
}
form button{
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
}
.support-container{
    margin-bottom: 63px;
}
/* support end */

/* footer start */
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    gap: 10px;
}
.footer{
    
    background-color: rgba(13, 19, 33, 0.03);
}
.footer-title{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}
/* footer end */

/* media query */
@media screen and (max-width: 576px) {
    .development-card {
        flex-direction: column;
    }

    .development-container {
        margin: 58px 0;
        padding: 10px 20px;
    }

    .development {
        width: 100%;
    }

    .order-one-four {
        order: 2;
    }

    .order-tow-four {
        order: 1;
    }

    .inspairation-video-row {
        width: 100%;
        height: 40vh;
    }
    
    .inspairation-video {
        padding: 15px;
    }

    .inspiration {
        width: 95%;
    }

    .target-card-container {
        flex-direction: column;
    }

    .target {
        width: 95%;
    }

    .target-card {
        max-width: 100%;
    }
    .next-target-card, .footer-container{
        flex-direction: column;
    }
    .next-target{
        width: 95%;
    }
    .support{
        width: 95%;
    }
}

/* media query */